---
title: Directory
layout: private.njk
---

<div class="columns-grid">
  <!-- Left Column -->
  <div class="card-column">
    <!-- Item -->
    <div class="card-padded gap-3 mt-6">
      <h2 class="item-title">Notifications</h2>
      <div class="flex flex-col gap-4 mt-2">
        <a href="/notifications/">
          <button class="directory-button">Notifications Dashboard</button>
        </a>
      </div>
    </div>
  </div>

  <!-- Right Column -->
  <div class="card-column">
    <!-- Item -->
    <div class="card-padded gap-3 mt-6">
      <h2 class="item-title">Game Manager</h2>
      <div class="flex flex-col gap-4 mt-2">
        <a href="/game/">
          <button class="directory-button">Game Dashboard</button>
        </a>
      </div>
    </div>
  </div>
</div>
